<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="community">
            <h2><span jhiTranslate="jhipsterPress08App.community.detail.title">Community</span> {{community.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhipsterPress08App.community.creationDate">Creation Date</span></dt>
                <dd>
                    <span>{{community.creationDate | date:'longDate'}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterPress08App.community.communityname">Communityname</span></dt>
                <dd>
                    <span>{{community.communityname}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterPress08App.community.communitydescription">Communitydescription</span></dt>
                <dd>
                    <span>{{community.communitydescription}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterPress08App.community.image">Image</span></dt>
                <dd>
                    <div *ngIf="community.image">
                        <a (click)="openFile(community.imageContentType, community.image)">
                            <img [src]="'data:' + community.imageContentType + ';base64,' + community.image" style="max-width: 100%;" alt="community image"/>
                        </a>
                    </div>
                </dd>
                <dt><span jhiTranslate="jhipsterPress08App.community.isActive">Is Active</span></dt>
                <dd>
                    <span>{{community.isActive}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterPress08App.community.user">User</span></dt>
                <dd>
                    {{community.userId}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/community', community.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
