<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="community">
            <h2><span jhiTranslate="jhipsterPress08App.community.detail.title">Community</span> {{community.id}}
	            <button *ngIf="isFollowing === true" style="margin:5px;" id="jh-my-entity" class="btn btn-primary float-right jh-create-entity create-blog" (click)="unFollowing()">
				    <span jhiTranslate="jhipsterPress08App.profile.unfollow">
				    UnFollow
				    </span>
				</button>
				<button *ngIf="isFollowing === false" style="margin:5px;" id="jh-my-entity" class="btn btn-primary float-right jh-create-entity create-blog" (click)="following()">
				    <span jhiTranslate="jhipsterPress08App.profile.follow">
				    Follow
				    </span>
				</button>
            </h2>
            
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhipsterPress08App.community.creationDate">Creation Date</span></dt>
                <dd>
                    <span>{{community.creationDate | date:'longDate'}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterPress08App.community.communityname">Communityname</span></dt>
                <dd>
                    <span>{{community.communityname}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterPress08App.community.communitydescription">Communitydescription</span></dt>
                <dd>
                    <span>{{community.communitydescription}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterPress08App.community.image">Image</span></dt>
                <dd>
                    <div *ngIf="community.image">
                        <a (click)="openFile(community.imageContentType, community.image)">
                            <img [src]="'data:' + community.imageContentType + ';base64,' + community.image" style="max-width: 100%;" alt="community image"/>
                        </a>
                    </div>
                </dd>
                <dt><span jhiTranslate="jhipsterPress08App.community.isActive">Is Active</span></dt>
                <dd>
                    <span>{{community.isActive}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterPress08App.community.user">User</span></dt>
                <dd>
                    {{community.userId}}
                </dd>
                <!-- Interests -->
				<div class="g-mb-30">
					<h6 class="g-color-gray-dark-v1">
						<button id="jh-create-entity"
							class="btn btn-primary float-right jh-create-entity create-interest"
							[routerLink]="['/interest']">
							<fa-icon [icon]="'plus'"></fa-icon>
						</button>
						<strong class="g-mr-5">Interests:</strong> <span
							*ngFor="let interest of community.interests"> <a
							class="u-tags-v1 g-font-size-12 g-brd-around g-brd-gray-light-v4 g-bg-primary--hover g-brd-primary--hover g-color-black-opacity-0_8 g-color-white--hover rounded g-py-6 g-px-15 g-mr-5"
							href="#!">{{interest.interestName}}</a>
						</span>
					</h6>
				</div>
				<!-- End Interests -->
				
				<!-- Activities -->
				<div class="g-mb-30">
				  <h6 class="g-color-gray-dark-v1">
				            <button id="jh-create-entity" 
				                class="btn btn-primary float-right jh-create-entity create-interest" 
				                [routerLink]="['/activity']">
				            <fa-icon [icon]="'plus'"></fa-icon>
				        </button>
				    <strong class="g-mr-5">Activities:</strong>
				    <span  *ngFor="let activity of community.activities">
				        <a class="u-tags-v1 g-font-size-12 g-brd-around g-brd-gray-light-v4 g-bg-primary--hover g-brd-primary--hover g-color-black-opacity-0_8 g-color-white--hover rounded g-py-6 g-px-15 g-mr-5" href="#!">{{activity.activityName}}</a>
				    </span>
				  </h6>
				</div>
				<!-- End Activities -->
				
				<!-- Celebs -->
				<div class="g-mb-30">
				  <h6 class="g-color-gray-dark-v1">
				            <button id="jh-create-entity" 
				                class="btn btn-primary float-right jh-create-entity create-interest" 
				                [routerLink]="['/celeb']">
				            <fa-icon [icon]="'plus'"></fa-icon>
				        </button>
				    <strong class="g-mr-5">Celebs:</strong>
				    <span  *ngFor="let celeb of community.celebs">
				        <a class="u-tags-v1 g-font-size-12 g-brd-around g-brd-gray-light-v4 g-bg-primary--hover g-brd-primary--hover g-color-black-opacity-0_8 g-color-white--hover rounded g-py-6 g-px-15 g-mr-5" href="#!">{{celeb.celebName}}</a>
				    </span>
				  </h6>
				</div>
				<!-- End Celebs -->
            </dl>
            
            <br/>
            <a [routerLink]="['/following']" [queryParams]="{ 'cfollowedIdEquals': community.id }" class="list-group-item list-group-item-action justify-content-between">
                <h3><span><i class="icon-notebook g-pos-rel g-top-1 g-mr-8"></i> Following</span></h3>
            </a>
            <br/>
            
            <h3><span jhiTranslate="jhipsterPress08App.community.detail.cblog">Communities' Blogs</span></h3>
            
			<div class="table-responsive" *ngIf="blogs">
		        <table class="table table-striped">
		            <thead>
		            <th><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
		            <th><span jhiTranslate="jhipsterPress08App.blog.creationDate">Creation Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
		            <th><span jhiTranslate="jhipsterPress08App.blog.title">Title</span> <fa-icon [icon]="'sort'"></fa-icon></th>
		            <th><span jhiTranslate="jhipsterPress08App.blog.image">Image</span> <fa-icon [icon]="'sort'"></fa-icon></th>
		            <th></th>
		            </tr>
		            </thead>
		            <tbody>
		            <tr *ngFor="let blog of blogs ;trackBy: trackId">
		                <td><a [routerLink]="['/blog', blog.id, 'view' ]">{{blog.id}}</a></td>
		                <td>{{blog.creationDate | date:'medium'}}</td>
		                <td>{{blog.title}}</td>
		                <td>
		                    <a *ngIf="blog.image" (click)="openFile(blog.imageContentType, blog.image)">
		                        <img [src]="'data:' + blog.imageContentType + ';base64,' + blog.image" style="max-height: 30px;" alt="blog image"/>
		                    </a>
		                    <span *ngIf="blog.image">{{blog.imageContentType}}, {{byteSize(blog.image)}}</span>
		                </td>
		            </tr>
		            </tbody>
		        </table>
		    </div>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/community', community.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
