
<!-- News Content -->
<div class="container g-pt-100 g-pb-50">
		    <h2 id="page-heading">
		        <span jhiTranslate="jhipsterPress08App.post.home.title">Posts</span>
		        <button style="margin:5px;" id="jh-my-entity" class="btn btn-primary float-right jh-create-entity create-blog" (click)="myPosts()">
		            <fa-icon [icon]="'plus'"></fa-icon>
		            <span  jhiTranslate="jhipsterPress08App.post.home.myLabel">
		            My Posts
		            </span>
		        </button>
		        <button style="margin:5px;" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-post" [routerLink]="['/post/new']">
		            <fa-icon [icon]="'plus'"></fa-icon>
		            <span  jhiTranslate="jhipsterPress08App.post.home.createLabel">
		            Create new Post
		            </span>
		        </button>
		    </h2>
	<div class="row">
	    <!-- Articles Content -->
	    <div class="col-lg-9 g-mb-50 g-mb-0--lg" *ngFor="let post of posts ;trackBy: trackId">
		    <!-- Article -->
		    <article class="text-center g-mb-100">
		        <figure class="g-pos-rel mb-5">
		        <!-- <img class="img-fluid" src="" alt="Image Description">  -->
		        <a *ngIf="post.image" (click)="openFile(post.imageContentType, post.image)">
                     <img [src]="'data:' + post.imageContentType + ';base64,' + post.image" style="max-height: 30px;" alt="post image"/>
                 </a>
		
		        <!-- Figcaption -->
		        <figcaption class="w-100 g-pos-abs g-bottom-0 g-left-0 g-pa-15">
		            <ul class="d-flex justify-content-start list-inline mb-0">
		            <li class="list-inline-item mx-0">
		                <a class="d-inline-block g-brd-around g-brd-white-opacity-0_3 g-brd-primary-opacity-0_6--hover g-color-white g-bg-primary-opacity-0_6--hover g-text-underline--none--hover rounded-left g-px-15 g-py-4" href="#!">
		                <i class="align-middle mr-2 icon-medical-022 u-line-icon-pro"></i>
		                25
		                </a>
		            </li>
		            <li class="list-inline-item g-ml-minus-1 mr-0">
		                <a class="d-inline-block g-brd-around g-brd-white-opacity-0_3 g-brd-primary-opacity-0_6--hover g-color-white g-bg-primary-opacity-0_6--hover g-text-underline--none--hover rounded-right g-px-15 g-py-4" href="#!">
		                <i class="align-middle mr-2 icon-finance-206 u-line-icon-pro"></i>
		                12
		                </a>
		            </li>
		            <li class="list-inline-item ml-auto mr-0">
		                <a class="d-inline-block g-color-white g-font-size-15 g-text-underline--none--hover g-px-15 g-py-4" href="#!"
		                    data-toggle="tooltip"
		                    data-placement="top"
		                    title="Save to Read Later">
		                <i class="fa fa-bookmark-o"></i>
		                </a>
		            </li>
		            </ul>
		        </figcaption>
		        <!-- End Figcaption -->
		        </figure>
		
		        <!-- Category & Date -->
		        <ul class="list-inline g-color-secondary-dark-v1 g-font-weight-600 g-font-size-12 text-uppercase mb-3">
		        <li class="list-inline-item g-mr-10">
		            <i class="align-middle g-color-primary mr-1 icon-communication-020 u-line-icon-pro"></i>
		            <a class="g-font-weight-700" href="#!" *ngFor="let topic of post.topics">{{topic.topicName}} </a>
		        </li>
		        <li class="list-inline-item">&#8226;</li>
		        <li class="list-inline-item g-ml-10">
		            <i class="align-middle g-color-secondary-dark-v1 mr-1 icon-education-124 u-line-icon-pro"></i>
		            {{post.publicationDate | date:'medium'}}
		        </li>
		        </ul>
		        <!-- End Category & Date -->
		
		        <!-- Info -->
		        <div class="g-px-50 g-px-100--md mb-4">
		        <h2 class="h3 mb-4"><a class="u-link-v5 g-color-main g-color-primary--hover" [routerLink]="['/post', post.id, 'view' ]">{{post.headline}}</a></h2>
		        <p>{{post.leadtext}}</p>
		        </div>
		        <!-- End Info -->
		
		        <div class="g-mb-25">
		        <a class="g-font-weight-600 g-font-size-13 text-uppercase" [routerLink]="['/post', post.id, 'view' ]">Read More</a>
		        </div>
		
		        <!-- Social Icons -->
		        <div class="g-overflow-hidden">
		        <ul class="list-inline u-info-v10-1 mb-0">
		            <li class="list-inline-item g-mx-2">
		            <a class="u-icon-v3 u-icon-size--xs g-color-primary g-color-white--hover g-bg-secondary g-bg-primary--hover rounded-circle" href="#!">
		                <i class="fa fa-facebook"></i>
		            </a>
		            </li>
		            <li class="list-inline-item g-mx-2">
		            <a class="u-icon-v3 u-icon-size--xs g-color-primary g-color-white--hover g-bg-secondary g-bg-primary--hover rounded-circle" href="#!">
		                <i class="fa fa-twitter"></i>
		            </a>
		            </li>
		            <li class="list-inline-item g-mx-2">
		            <a class="u-icon-v3 u-icon-size--xs g-color-primary g-color-white--hover g-bg-secondary g-bg-primary--hover rounded-circle" href="#!">
		                <i class="fa fa-google-plus"></i>
		            </a>
		            </li>
		        </ul>
		        </div>
		        <!-- End Social Icons -->
		        <!-- JHButtons -->
		        <div class="g-overflow-hidden">
		        <ul class="list-inline u-info-v10-1 mb-0">
		            <li class="list-inline-item g-mx-2">
                        <button type="submit"
                                [routerLink]="['/post', post.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
		            </li>
		            <li class="list-inline-item g-mx-2">
		            	<button *ngIf="owner === post.userId || isAdmin == true"
                        		type="submit"
                                [routerLink]="['/post', post.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
		            </li>
		            <li class="list-inline-item g-mx-2">
		            	<button *ngIf="owner === post.userId || isAdmin == true"
                        		type="submit"
                                [routerLink]="['/', { outlets: { popup: 'post/'+ post.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
		            </li>
		        </ul>
		        </div>
		        <!-- End JHButtons -->
		    </article>
		    <!-- End Article -->
		</div>
	</div>
	<div *ngIf="posts && posts.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
















<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhipsterPress08App.post.home.title">Posts</span>
        <button style="margin:5px;" id="jh-my-entity" class="btn btn-primary float-right jh-create-entity create-blog" (click)="myPosts()">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="jhipsterPress08App.post.home.myLabel">
            My Posts
            </span>
        </button>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-post" [routerLink]="['/post/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="jhipsterPress08App.post.home.createLabel">
            Create new Post
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="posts">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="creationDate"><span jhiTranslate="jhipsterPress08App.post.creationDate">Creation Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="publicationDate"><span jhiTranslate="jhipsterPress08App.post.publicationDate">Publication Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="headline"><span jhiTranslate="jhipsterPress08App.post.headline">Headline</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="leadtext"><span jhiTranslate="jhipsterPress08App.post.leadtext">Leadtext</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="bodytext"><span jhiTranslate="jhipsterPress08App.post.bodytext">Bodytext</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="quote"><span jhiTranslate="jhipsterPress08App.post.quote">Quote</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="conclusion"><span jhiTranslate="jhipsterPress08App.post.conclusion">Conclusion</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="image"><span jhiTranslate="jhipsterPress08App.post.image">Image</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="urllinkId"><span jhiTranslate="jhipsterPress08App.post.urllink">Urllink</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="blogTitle"><span jhiTranslate="jhipsterPress08App.post.blog">Blog</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="profileId"><span jhiTranslate="jhipsterPress08App.post.profile">Profile</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let post of posts ;trackBy: trackId">
                <td><a [routerLink]="['/post', post.id, 'view' ]">{{post.id}}</a></td>
                <td>{{post.creationDate | date:'medium'}}</td>
                <td>{{post.publicationDate | date:'medium'}}</td>
                <td>{{post.headline}}</td>
                <td>{{post.leadtext}}</td>
                <td>{{post.bodytext}}</td>
                <td>{{post.quote}}</td>
                <td>{{post.conclusion}}</td>
                <td>
                    <a *ngIf="post.image" (click)="openFile(post.imageContentType, post.image)">
                        <img [src]="'data:' + post.imageContentType + ';base64,' + post.image" style="max-height: 30px;" alt="post image"/>
                    </a>
                    <span *ngIf="post.image">{{post.imageContentType}}, {{byteSize(post.image)}}</span>
                </td>
                <td>
                    <div *ngIf="post.urllinkId">
                        <a [routerLink]="['../urllink', post.urllinkId , 'view' ]" >{{post.urllinkId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="post.blogId">
                        <a [routerLink]="['../blog', post.blogId , 'view' ]" >{{post.blogTitle}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="post.profileId">
                        <a [routerLink]="['../profile', post.profileId , 'view' ]" >{{post.profileId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/post', post.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button *jhiHasAnyAuthority="'ROLE_ADMIN'"
                        		type="submit"
                                [routerLink]="['/post', post.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button *jhiHasAnyAuthority="'ROLE_ADMIN'"
                        		type="submit"
                                [routerLink]="['/', { outlets: { popup: 'post/'+ post.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="posts && posts.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
