<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="post">
		    <!-- News Content -->
		    <div class="container">
		          <div class="row">
		            <!-- Articles Content -->
		            <div class="col-lg-9 g-mb-50 g-mb-0--lg">
		              <article class="g-mb-60">
		                <header class="g-mb-30">
		                  <h2 class="h1 g-mb-15">{{post.headline}}</h2>
		
		                  <ul class="list-inline d-sm-flex g-color-gray-dark-v4 mb-0">
		                    <li class="list-inline-item" *ngIf="post.profileId">
		                      <a [routerLink]="['/profile', post.profileId, 'view']" class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover">{{post.profileUserFirstName}} {{post.profileUserLastName}}</a>
		                    </li>
		                    <li class="list-inline-item g-mx-10">/</li>
		                    <li class="list-inline-item">
		                      {{post.creationDate | date:'medium'}}
		                    </li>
		                    <li class="list-inline-item g-mx-10">/</li>
		                    <li class="list-inline-item g-mr-10">
		                      <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="#comments">
		                        <i class="icon-finance-206 u-line-icon-pro align-middle g-pos-rel g-top-1 mr-1" *ngIf="post.comments">{{ post.comments.length }} Comments</i>
		                      </a>
		                    </li>
		                    <li class="list-inline-item ml-auto">
		                      <!-- <i class="icon-eye u-line-icon-pro align-middle mr-1"></i> Views 3821 -->
		                    </li>
		                  </ul>
		
		                  <hr class="g-brd-gray-light-v4 g-my-15">
		
		                  <ul class="list-inline text-uppercase mb-0">
		                    <li class="list-inline-item g-mr-10">
		                      <strong class="align-middle g-font-size-24">423</strong>
		                    </li>
		                    <li class="list-inline-item g-mr-10">
		                      <span class="g-color-gray-dark-v5">|</span>
		                    </li>
		                    <li class="list-inline-item g-mr-10">
		                      <a class="btn u-btn-facebook g-font-size-12 rounded g-px-20--sm g-py-10" href="#!">
		                        <i class="fa fa-facebook g-mr-5--sm"></i> <span class="g-hidden-xs-down">Share on Facebook</span>
		                      </a>
		                    </li>
		                    <li class="list-inline-item g-mr-10">
		                      <a class="btn u-btn-twitter g-font-size-12 rounded g-px-20--sm g-py-10" href="#!">
		                        <i class="fa fa-twitter g-mr-5--sm"></i> <span class="g-hidden-xs-down">Tweet on Twitter</span>
		                      </a>
		                    </li>
		                    <li class="list-inline-item">
		                      <a class="btn u-btn-lightred g-font-size-12 rounded g-py-10" href="#!">
		                        <i class="fa fa-pinterest"></i>
		                      </a>
		                    </li>
		                  </ul>
		                </header>
		
		                <div class="g-font-size-16 g-line-height-1_8 g-mb-30">
		                  <figure class="u-shadow-v25 g-mb-30">
		                    <div *ngIf="post.image">
		                        <a (click)="openFile(post.imageContentType, post.image)">
		                            <img [src]="'data:' + post.imageContentType + ';base64,' + post.image" style="max-width: 100%;" alt="post image"/>
		                        </a>
			                </div>
		                  </figure>
		                  	<p class="g-color-gray-dark-v2" [innerHTML]="post.bodytext"></p>                
		                  <div class="g-width-70x--md g-my-40">
		                    <blockquote class="blockquote g-brd-left g-brd-2 g-brd-gray-light-v4 g-brd-primary--hover text-uppercase g-font-size-22 g-transition-0_2 g-pl-20 g-mb-30">
		                      <p class="g-color-primary">{{post.quote}}</p>
		                      <!-- <footer class="blockquote-footer g-font-size-12">John Doe</footer> -->
		                    </blockquote>
		                  </div>
		                </div>
		
		                <!-- Sources & Tags -->
		                <div class="g-mb-30">
		                  <h6 class="g-color-gray-dark-v1 g-mb-15">
		                    <strong class="g-mr-5">Source:</strong> <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="{{post.linkURL}}">{{post.linkText}}</a>
		                  </h6>
		                  <h6 class="g-color-gray-dark-v1">
		                    <strong class="g-mr-5">Tags:</strong>
		                    <span  *ngFor="let tag of post.tags">
		                    	<a class="u-tags-v1 g-font-size-12 g-brd-around g-brd-gray-light-v4 g-bg-primary--hover g-brd-primary--hover g-color-black-opacity-0_8 g-color-white--hover rounded g-py-6 g-px-15 g-mr-5" href="#!">{{tag.tagName}}</a>
		                    </span>
		                  </h6>
		                </div>
		                <!-- End Sources & Tags -->
		
		                <hr class="g-brd-gray-light-v4">
		
		                <!-- Social Shares -->
		                <div class="g-mb-30">
		                  <ul class="list-inline text-uppercase mb-0">
		                    <li class="list-inline-item g-mr-10">
		                      <strong class="align-middle g-font-size-24">423</strong>
		                    </li>
		                    <li class="list-inline-item g-mr-10">
		                      <span class="g-color-gray-dark-v5">|</span>
		                    </li>
		                    <li class="list-inline-item g-mr-10">
		                      <a class="btn u-btn-facebook g-font-size-12 rounded g-px-20--sm g-py-10" href="#!">
		                        <i class="fa fa-facebook g-mr-5--sm"></i> <span class="g-hidden-xs-down">Share on Facebook</span>
		                      </a>
		                    </li>
		                    <li class="list-inline-item g-mr-10">
		                      <a class="btn u-btn-twitter g-font-size-12 rounded g-px-20--sm g-py-10" href="#!">
		                        <i class="fa fa-twitter g-mr-5--sm"></i> <span class="g-hidden-xs-down">Tweet on Twitter</span>
		                      </a>
		                    </li>
		                    <li class="list-inline-item">
		                      <a class="btn u-btn-lightred g-font-size-12 rounded g-py-10" href="#!">
		                        <i class="fa fa-pinterest"></i>
		                      </a>
		                    </li>
		                  </ul>
		                </div>
		                <!-- End Social Shares -->
		
		                <hr class="g-brd-gray-light-v4 g-mb-40">
		
		                <!-- Related Articles -->
		                <!-- UNDER DEVELOPMENT -->
		
		                <!-- Author Block -->
		                <div class="g-mb-60">
		                  <div class="u-heading-v3-1 g-mb-30">
		                    <h2 class="h5 u-heading-v3__title g-color-gray-dark-v1 text-uppercase g-brd-primary">About The Author</h2>
		                  </div>
		
		                  <div class="media g-brd-around g-brd-gray-light-v4 rounded g-pa-30 g-mb-20">

		                    <div *ngIf="post.profileImage">
		                        <a (click)="openFile(post.profileImageContentType, post.profileImage)">
		                            <img [src]="'data:' + post.profileImageContentType + ';base64,' + post.profileImage" style="max-width: 100%;" alt="post.profileImage"/>
		                        </a>
			                </div>

		                    <div class="media-body">
		                      <h4 class="g-color-gray-dark-v1 g-mb-15">
		                        <a class="u-link-v5 g-color-gray-dark-v1 g-color-primary--hover" [routerLink]="['/profile', post.profileId, 'view']">{{post.profileUserFirstName}} {{post.profileUserLastName}}</a>
		                      </h4>
		
		                      <div class="g-mb-15">
		                        <p class="g-color-gray-dark-v2">{{post.profileBio}}</p>
		                      </div>
		
		                      <ul class="list-inline mb-0">
		                        <li class="list-inline-item g-mr-10">
		                          <a class="u-icon-v3 u-icon-size--xs g-font-size-12 g-bg-gray-light-v5 g-bg-primary--hover g-color-gray-dark-v5 g-color-white--hover rounded-circle" href="#!">
		                            <i class="fa fa-facebook"></i>
		                          </a>
		                        </li>
		                        <li class="list-inline-item g-mr-10">
		                          <a class="u-icon-v3 u-icon-size--xs g-font-size-12 g-bg-gray-light-v5 g-bg-primary--hover g-color-gray-dark-v5 g-color-white--hover rounded-circle" href="#!">
		                            <i class="fa fa-instagram"></i>
		                          </a>
		                        </li>
		                        <li class="list-inline-item g-mr-10">
		                          <a class="u-icon-v3 u-icon-size--xs g-font-size-12 g-bg-gray-light-v5 g-bg-primary--hover g-color-gray-dark-v5 g-color-white--hover rounded-circle" href="#!">
		                            <i class="fa fa-twitter"></i>
		                          </a>
		                        </li>
		                      </ul>
		                    </div>
		                  </div>
		                </div>
		                <!-- End Author Block -->
		
		                <!-- Comments -->
		                <div class="g-mb-60">
		                  <div class="u-heading-v3-1 g-mb-30" id="comments">
		                    <h2 class="h5 u-heading-v3__title g-color-gray-dark-v1 text-uppercase g-brd-primary" *ngIf="post.comments">{{post.comments.length }} Comments</h2>
		                  </div>
		
		                   <!-- Comment 1 -->
			                  <div class="media g-brd-around g-brd-gray-light-v4 rounded g-pa-30 g-mb-20" *ngFor="let comment of post.comments">
			                    <a (click)="openFile(comment.profileImageContentType, comment.profileImage)">
		                            <img class="d-flex u-shadow-v25 g-width-50 g-height-50 rounded-circle g-mr-15" [src]="'data:' + comment.profileImageContentType + ';base64,' + comment.profileImage" style="max-width: 100%;" alt="comment.profileImage"/>
		                        </a>
			
			                    <div class="media-body">
			                      <div class="g-mb-15">
			                        <h5 class="d-flex justify-content-between align-items-center g-font-size-16 g-color-gray-dark-v1 mb-0">
			                          <span class="d-block g-mr-10">{{comment.commentProfileUserFirstName}} {{comment.commentProfileUserLastName}}</span>
			                          <a class="u-tags-v1 g-font-size-12 g-brd-around g-brd-gray-light-v4 g-bg-primary--hover g-brd-primary--hover g-color-black-opacity-0_8 g-color-white--hover rounded g-py-6 g-px-15" 
			                          [routerLink]="['/profile', comment.profileId, 'view']">Author</a>
			                        </h5>
			                        <span class="g-color-gray-dark-v4 g-font-size-12">{{comment.creationDate | date:'medium'}} calcular x? days ago</span>
			                      </div>
			
			                      <div class="g-mb-15">
			                      	<p class="g-color-gray-dark-v2" [innerHTML]="comment.commentText"></p>
			                      </div>
			
			                      <ul class="list-inline d-sm-flex my-0">
			                        <li class="list-inline-item g-mr-20">
			                          <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="#!">
			                            <i class="icon-like g-pos-rel g-top-1 g-mr-3"></i> 214
			                          </a>
			                        </li>
			                        <li class="list-inline-item g-mr-20">
			                          <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="#!">
			                            <i class="icon-dislike g-pos-rel g-top-1 g-mr-3"></i> 35
			                          </a>
			                        </li>
			                        <li class="list-inline-item ml-auto">
			                          <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="#!">
			                            <!-- <i class="icon-note g-pos-rel g-top-1 g-mr-3"></i> Reply  -->
			                          </a>
			                        </li>
			                      </ul>
			                    </div>
			                  </div>
			                  <!-- End Comment 1 -->
		
		                  <div class="text-center g-mt-30">
		                    <a class="btn u-btn-outline-primary g-font-size-12 text-uppercase g-px-25 g-py-13" href="#!">
		                      <i class="icon-finance-206 u-line-icon-pro align-middle g-pos-rel g-top-1 mr-2"></i> Load More Comments
		                    </a>
		                  </div>
		                </div>
		                <!-- Comments -->
		
		                <!-- Add Comment -->
		                <div class="g-mb-60">
		                  <div class="u-heading-v3-1 g-mb-30">
		                    <h2 class="h5 u-heading-v3__title g-color-gray-dark-v1 text-uppercase g-brd-primary">Add a Comment</h2>
		                  </div>
		<!--
		                  <form>
		                    <div class="g-mb-30">
		                      <textarea class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--focus g-resize-none rounded-3 g-pa-15" rows="12" placeholder="Your Message"></textarea>
		                    </div>
		
		                    <a class="btn u-btn-primary g-font-size-12 text-uppercase g-px-25 g-py-13" href="#!">
		                      <i class="icon-finance-206 u-line-icon-pro align-middle g-pos-rel g-top-1 mr-2"></i> Add a Comment
		                    </a>
		                  </form>
		  -->
						<!-- ADDED STUFF Comment -->
						
						<div class="row justify-content-center">
						    <div class="col-8">
						        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
						            <div>
						                <jhi-alert-error></jhi-alert-error>
						                
						                <!--
						                <div class="form-group" [hidden]="!comment.id">
						                    <label for="id" jhiTranslate="global.field.id">ID</label>
						                    <input type="text" class="form-control" id="id" name="id"
						                        [(ngModel)]="comment.id" readonly />
						                </div>
						                -->
						                <div class="form-group">
						                    <label class="form-control-label" jhiTranslate="jhipsterPress08App.comment.commentText" for="field_commentText">Comment Text</label>
						                    <textarea type="text" rows="10" cols="50" class="form-control" name="commentText" id="field_commentText"
						                        [(ngModel)]="comment.commentText" required minlength="2" maxlength="65000">
							                    <div [hidden]="!(editForm.controls.commentText?.dirty && editForm.controls.commentText?.invalid)">
							                        <small class="form-text text-danger"
							                        [hidden]="!editForm.controls.commentText?.errors?.required" jhiTranslate="entity.validation.required">
							                        This field is required.
							                        </small>
							                        <small class="form-text text-danger"
							                        [hidden]="!editForm.controls.commentText?.errors?.minlength" jhiTranslate="entity.validation.minlength" translateValues="{ min: 2 }">
							                        This field is required to be at least 2 characters.
							                        </small>
							                        <small class="form-text text-danger"
							                        [hidden]="!editForm.controls.commentText?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 65000 }">
							                        This field cannot be longer than 65000 characters.
							                        </small>
							                    </div>
							      			</textarea>           
						                </div>
						                <div [hidden]="!(editForm.controls.profile?.dirty && editForm.controls.profile?.invalid)">
						                    <small class="form-text text-danger"
						                        [hidden]="!editForm.controls.profile?.errors?.required" jhiTranslate="entity.validation.required">
						                        This field is required.
						                    </small>
						                </div>
						                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
						                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
						                </button>
						            </div>
						        </form>
						    </div>
						</div>
						
						
						
						<!-- End ADDED STUFF Comment --> 
		                </div>
		                <!-- End Add Comment -->
		              </article>
		              <div id="stickyblock-end"></div>
		            </div>
		            <!-- End Articles Content -->
		          </div>
		        </div>
			<!-- End News Content -->
        </div>
    </div>
</div>
